project/data/
hw6/mnist.mat
hw6/sample_data.mat
hw6/alice_release/*
hw5/mnist_adaboost_release/*
hw5/dorothea/*
hw4/covertype_release
hw4/alice_release
hw3/mnist.mat
hw1/mnist.mat
hw1/weatherDewTmp.mat
hw2/arrhythmia/*
